.discussion-description-offset {
  padding-left: 42px
}

.discussion-title {
  padding-left: 10px;
  font-size: 18px;
}

.user-title {
  padding-left: 50px;
  font-size: 18px;
}

.discussion-creation-date {
  padding-left: 50px;
  color: rgba(0, 0, 0, 0.58);
  font-size: 14px;
}
