<div class="row">
  <mat-toolbar class="navbar-toolbar">
    <div class="col-md-1">
      <button class="navbar-button" type="button" (click)="redirectToDiscussion()" mat-raised-button>
        {{ 'navbar.discussions' | translate }}
      </button>
      <button class="navbar-button navbar-button-indent" type="button" mat-raised-button>
        {{ 'navbar.chat' | translate }}
      </button>
    </div>

    <div class="col-md-2 offset-md-8 navbar-search-input">
      <mat-form-field class="navbar-search-field">
        <input class="text-align-right" matInput [placeholder]="'navbar.search' | translate">
      </mat-form-field>
    </div>

    <div class="col-md-1">
      <div dropdown class="btn-group float-right">
        <button dropdownToggle type="button" mat-raised-button class="dropdown-toggle navbar-button"
                data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
          {{ 'navbar.profile' | translate }}
        </button>
        <div *dropdownMenu class="dropdown-menu dropdown-menu-right">
          <li class="account-dropdown-header">
            <i class="material-icons center-account-icon">
              account_box
            </i>
            {{ currentUser }}
          </li>
          <hr/>
          <button class="dropdown-item" type="button">{{ 'navbar.accountSettings' | translate }}</button>
          <button class="dropdown-item" type="button">{{ 'navbar.logout' | translate }}</button>
        </div>
      </div>
    </div>
  </mat-toolbar>
</div>
