.discussion-card {
  width: 100%;
}

.create-discussion-title {
  padding-left: 10px;
  font-size: 16px;
}

.indent-form-field {
  padding-left: 18px;
}

.actions {
  padding-top: 102px;
}

.mat-raised-button {
  font-size: 16px;
  min-width: 175px;
}

.action-button-column {
  padding-top: 15px;
}

.create-discussion-title {
  font-size: 20px;
}

.title-separator {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid black;
  margin: 1em 0;
  padding: 0;
}

.discussion-header {
  width: 100%;
}
