<mat-card class="discussion-background-card crud-background-card" *ngIf="dataLoaded">
  <mat-card class="discussion-card">
    <div class="row entity-title-padding">
      <div class="col-md-3 user-title">
        <strong>{{ discussionCreator.username }}</strong>
      </div>
      <div class="col-md-6 v-center">
        <mat-card-header>
          <div class="discussion-title">
            <strong>{{ discussion.title }}</strong>
          </div>
        </mat-card-header>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 discussion-creation-date">
        {{discussion.creationDate | date: 'medium'}}
      </div>
      <div class="col-md-7 discussion-description-offset"
           [innerHTML]="discussion.description | safeHtml"></div>
    </div>
  </mat-card>
  <forum-post-list [posts]="posts" (dataChanged)="initializePosts()"></forum-post-list>
  <forum-post-editor [discussionId]="discussion.getId()" (saved)="initializePosts()"></forum-post-editor>
</mat-card>
