.discussion-expansion {
  width: 100%;
}

.discussion-expansion-container {
  padding-top: 15px;
}

.indent-discussion-description {
  top: 14px;
  position: absolute;
}

.mat-expansion-panel-header-title {
  flex: 0 0 auto;
  margin-right: 16px;
}

.mat-expansion-panel-header-description {
  flex: 1 1 auto;
  min-width: 0;
  margin-right: 16px;
}

.mat-expansion-panel-header-description > div {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.all-discussion-card {
  margin-top: 25px;
}
