<form #discussionForm="ngForm"
      (ngSubmit)="save(discussionForm)">
  <mat-card class="discussion-card entity-editor-card">
    <mat-card class="discussion-header">
      <div class="row">
        <div class="col-md-4">
          <mat-card-header>
            <mat-card-title class="create-discussion-title">
              <strong>{{ 'discussion.titleName' | translate}}</strong>
              <span class="entity-editor-subtitle">{{ cardTitle | translate}}</span>
            </mat-card-title>
          </mat-card-header>
        </div>
      </div>
      <mat-card-content>
        <div class="row">
          <div class="col-md-4 offset-md-4">
            <div class="form-group indent-form-field">
              <mat-form-field>
              <textarea matInput
                        #discussionTitle="ngModel"
                        [(ngModel)]="discussion.title"
                        name="discussionTitle"
                        [placeholder]="'discussion.title' | translate"
                        required="true"
                        matAutosizeMinRows="2"
                        matTextareaAutosize="true">
              </textarea>
                <mat-error class="mat-select-error-message">
                  {{ 'discussion.titleRequiredMessage' | translate }}
                  <i class="material-icons error-icon">clear</i>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5 offset-md-4">
            <div class="form-group indent-form-field">
              <quill-editor #htmlEditor
                            [style]="{height: '200px'}"
                            [required]="false"
                            [placeholder]="'discussion.description' | translate"
                            matInput
                            [modules]="{ toolbar: toolbar }"
                            [(ngModel)]="discussion.description"
                            name="discussionDescription">
              </quill-editor>
            </div>
          </div>
          <div class="actions">
            <div class="col-md-2">
              <button mat-raised-button
                      id="discussion-reset-button"
                      class="reset-button"
                      type="button"
                      (click)="reset()">
                {{ 'discussion.reset' | translate }}
              </button>
            </div>
            <div class="col-md-2 action-button-column">
              <button mat-raised-button
                      class="cancel-button"
                      type="button"
                      (click)="hide()">
                {{ 'discussion.cancel' | translate }}
              </button>
            </div>
            <div class="col-md-2 action-button-column">
              <button id="discussion-save-button"
                      class="save-button"
                      type="submit"
                      mat-raised-button>
                {{ 'discussion.save' | translate }}
              </button>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-card>
</form>
