<form #discussionForm="ngForm"
      (ngSubmit)="save(discussionForm)">
  <mat-card class="discussion-background-card crud-background-card">
    <mat-card class="discussion-card">
      <div class="row">
        <div class="col-md-4">
          <mat-card-header>
            <div class="crud-entity-title">
              <strong>{{ 'discussion.editor.titleName' | translate}}</strong>
              <span class="crud-entity-subtitle">{{ cardTitle | translate}}</span>
            </div>
          </mat-card-header>
        </div>
      </div>
      <mat-card-content>
        <div class="row">
          <div class="col-md-2">
            <div class="current-user-container">
              <strong>{{ 'discussion.editor.postingAs' | translate }}</strong>
            </div>
            <div class="current-user-box">
              <i class="material-icons user-account-icon">
                account_box
              </i>
              {{ currentUser }}
            </div>
          </div>
          <div class="col-md-4 offset-md-2">
            <div class="form-group indent-form-field">
              <mat-form-field>
              <textarea matInput
                        #discussionTitle="ngModel"
                        [(ngModel)]="discussion.title"
                        name="discussionTitle"
                        [placeholder]="'discussion.editor.title' | translate"
                        required="true"
                        matAutosizeMinRows="2"
                        matTextareaAutosize="true">
              </textarea>
                <mat-error class="mat-select-error-message">
                  {{ 'discussion.editor.titleRequiredMessage' | translate }}
                  <i class="material-icons error-icon">clear</i>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5 offset-md-4">
            <div class="form-group indent-form-field">
              <quill-editor #htmlEditor
                            [style]="{height: '200px'}"
                            [required]="false"
                            [placeholder]="'discussion.editor.description' | translate"
                            matInput
                            [modules]="{ toolbar: toolbar }"
                            [(ngModel)]="discussion.description"
                            name="discussionDescription">
              </quill-editor>
            </div>
          </div>
          <div class="actions">
            <div class="col-md-2">
              <button mat-raised-button
                      id="discussion-reset-button"
                      class="reset-button"
                      type="button"
                      (click)="reset()">
                {{ 'discussion.editor.reset' | translate }}
              </button>
            </div>
            <div class="col-md-2 action-button-column">
              <button mat-raised-button
                      class="cancel-button"
                      type="button"
                      (click)="cancel()">
                {{ 'discussion.editor.cancel' | translate }}
              </button>
            </div>
            <div class="col-md-2 action-button-column">
              <button id="discussion-save-button"
                      class="save-button"
                      type="submit"
                      mat-raised-button>
                {{ 'discussion.editor.save' | translate }}
              </button>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-card>
</form>
