<div class="discussion-table-container">
  <mat-card class="discussion-table-background-card crud-background-card">
    <div class="row">
      <div class="col-md-6 offset-md-3 navbar-search-input">
        <mat-form-field class="navbar-search-field">
          <input class="text-align-right"
                 matInput
                 [placeholder]="'navbar.search' | translate"
                 (input)="searchDiscussions($event)">
        </mat-form-field>
      </div>
    </div>

    <mat-card class="discussion-card">
      <div class="row entity-title-padding">
        <div class="col-md-4 v-center">
          <mat-card-header>
            <div class="crud-entity-title">
              <strong>{{ 'discussion.editor.titleName' | translate}}</strong>
              <span class="crud-entity-subtitle">{{ 'discussion.table.featuredSubtitle' | translate}}</span>
            </div>
          </mat-card-header>
        </div>
        <div class="col-md-8 new-discussion-button">
          <button class="create-new-button primary-button" type="button" (click)="redirectToNewDiscussion()"
                  mat-raised-button>
            {{ 'discussion.table.createNew' | translate }}
          </button>
        </div>
      </div>
      <forum-discussion-list [discussions]="featuredDiscussions" (deleted)="reset()"></forum-discussion-list>
    </mat-card>
    <mat-card class="all-discussion-card">
      <div class="row entity-title-padding">
        <div class="col-md-4 v-center">
          <mat-card-header>
            <div class="crud-entity-title">
              <strong>{{ 'discussion.table.allSubtitle' | translate}}</strong>
            </div>
          </mat-card-header>
        </div>
      </div>
      <forum-discussion-list [discussions]="discussions" (deleted)="reset()"></forum-discussion-list>
    </mat-card>
  </mat-card>
</div>
