.user-title {
  padding-left: 50px;
  font-size: 18px;
}

.post-title {
  padding-left: 10px;
  font-size: 18px;
}

.post-description-offset {
  padding-left: 42px
}

.post-creation-date {
  padding-left: 50px;
  color: rgba(0, 0, 0, 0.58);
  font-size: 14px;
}

.score-column {
  padding-left: 42px;
}

.vote-up-count {
  padding-left: 5px;
  color: #049800;
  padding-right: 8px;
}

.vote-down-count {
  padding-left: 5px;
  color: #ff3119;
  padding-right: 8px;
}

.score-icon {
  position: relative;
  top: 6px;
}

.post-edited {
  font-size: 12px;
}
