@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~bootstrap/dist/css/bootstrap.min.css';

$reset-button-color: #e1e094;
$cancel-button-color: #e1a794;
$save-button-color: #b7ddec;

mat-form-field.mat-form-field {
  width: 100%;
}

.reset-button {
  background-color: $reset-button-color;
}

.cancel-button {
  background-color: $cancel-button-color;
}

.save-button {
  background-color: $save-button-color;
}

.entity-editor-card {
  background: linear-gradient(to right, #e9e9e9, #ffffff);
}

.entity-editor-subtitle {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.58);
  padding-left: 20px;
}

.error-icon {
  font-size: 1.5em;
  position: absolute;
  margin-top:0;
  right: 0;
  top: -1px;
}

::ng-deep .mat-form-field-label {
  color: black;
}

.form-horizontal {
  height: 100%;
}
