.post-editor-card {
  height: 40%;
}

.post-editor {
  margin-left: 28px;
}

.user-title {
  padding-left: 50px;
  font-size: 18px;
}

.post-creation-date {
  padding-left: 50px;
  color: rgba(0, 0, 0, 0.58);
  font-size: 14px;
}

.actions {
  padding-left: 6em;
}

.buttons-row {
  display: flex;
}
